<div class="container">

  <div class="row">
    <h1 class="pl-3">Text Box</h1>
  </div>

  <div class="row">
    <div class="input-group mb-3 col-6">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3 col-6">
      <input type="email" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
      </div>
    </div>
  </div>

  <div class="row">
    <h1 class="pl-3">Combo Box</h1>
  </div>

  <div class="row">
    <div class="input-group mb-3 col-6">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="row">
    <h1 class="pl-3">Fechas</h1>
  </div>

  <div class="row">
    <div class="col-3">
      <input type="date" class="form-control date" placeholder="Fecha Desde" id="Fdesde">
    </div>

    <div class="col-3">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="dd/mm/yyyy"
              name="dp"
              [(ngModel)]="model2"
              ngbDatepicker
              type="text"
              rInputMask="99/99/9999"
              [dayTemplate]="customDay"
              [markDisabled]="isWeekend"
              #d="ngbDatepicker">
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button">
              </button>
            </div>
          </div>
        </div>
      </form>

      <ng-template
        #customDay
        let-date
        let-currentMonth="currentMonth"
        let-selected="selected"
        let-disabled="disabled"
        let-focused="focused">
        <span
          class="custom-day"
          [class.weekend]="isWeekend(date)"
          [class.focused]="focused"
          [class.bg-primary]="selected"
          [class.hidden]="date.month !== currentMonth"
          [class.text-muted]="disabled">
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>

</div>